/**FONT & COLOR**/
:root{
  --fontFamily: 'Inter', sanserif;
  --fontSizeTitle: 1.5rem;
  --fontSizeLarge: 1.125rem;
  --fontSizeBase: 1rem;
  --fontSizeSmall: 0.875rem;
  --fontSizeXtraSmall: 0.7rem;
  --fontSizeHeader: 3rem;
  --fontWeightSemiBold: 600;
  --fontWeightMedium: 500;
  --fontWeightNormal: 400;
  --buttonRadius: 6px;
  --buttonPadding:0.5rem 0.75rem;
  --buttonColor:#3069FE;
  --backgroundColor:white;
  --textColorLight:white;
  --textColorNormal:#0a2540;
  --textHighlightColor:white;
  --cardBackgroundColor:#E5ECFD;
  --deleteIconColor:#3069FE;
  --paginationBackgroundColor: white;
  --paginationBackgroundSelectedColor: #3069FE;
}
/**DESKTOP**/
* {
  box-sizing: border-box;
  font-family: var(--fontFamily);
}

body,
h1,
h2, p {
  margin: 0;
  padding: 0;
}

::placeholder{
  color: var(--textColorNormal);
}
/**APP CONTAINER**/
.app-container {
  background-color: var(--backgroundColor)
}

/**MAIN CONTAINER**/
.main-container{
  margin: 0 auto;
  max-width: 1300px;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  position: relative;
}

/**BASE MODAL STYLES**/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 7;
}
.modal {
  border: none;
  width: 600px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin: 0rem 1rem;
  outline: none;
}

/** < 1024px**/
@media (max-width: 1024px) {
  .main-container{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /**MODAL**/
  .modal{
    margin: 0.5rem;
    padding: 0.8rem;
  }
}

/** < 768px**/
@media (max-width: 768px) { /**MD**/
  .main-container{
      padding-left: 1rem;
      padding-right: 1rem;
  }
}